In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

# 1) Carga las vars del .env
load_dotenv()  

user     = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host     = os.getenv('DB_HOST')
port     = os.getenv('DB_PORT')
db       = os.getenv('DB_NAME')
table_name = os.getenv('TABLE_NAME')

# 2) Crea la URL de conexión
engine = create_engine(
    f'mysql+pymysql://{user}:{password}@{host}:{port}/{db}'
)

# 3) Lee todas las tablas de dataset_db
try:
    data = pd.read_sql(f'SELECT * FROM {table_name};', con=engine)
    
except Exception as e:
    print(f'Error al leer las tablas: {e}')
    data = pd.DataFrame()
    
finally:
    display(data)

,id,cat1,cat2,cont1,cont2,cont3,cont4,disc1,disc2,target
0,000026e16294,A,X,-0.6991,0.7131,2.1258,2.2320,3,3,1
1,00002bab66f2,D,Y,-0.3944,0.9928,0.2312,7.9534,1,3,0
2,00003817b19a,E,Y,0.4187,0.3285,0.2593,15.4024,0,3,0
3,0000b16be884,E,Y,-1.0060,0.8963,0.5410,3.4377,2,3,0
4,00010fb82067,D,Y,0.0368,0.2695,1.6523,6.0479,0,5,0
...,...,...,...,...,...,...,...,...,...,...
249995,ffff107b7b14,A,X,-1.2039,0.9582,0.0609,4.2945,1,2,0
249996,ffff2d95fef6,A,X,1.3245,0.8320,0.1071,4.0170,1,4,0
249997,ffffaf9f4c8c,A,Y,0.2134,0.6432,0.5598,5.0519,0,3,0
249998,ffffd10763ae,E,Z,-0.4117,0.5863,1.0274,7.3366,0,5,0
249999,fffff483adc2,C,Z,0.0653,0.0373,0.3987,3.6780,3,4,0

In [2]:
from deepchecks.tabular import Dataset
from deepchecks.tabular.suites import data_integrity

# 1) Crear el dataset
dataset = Dataset(
    df=data,
    label='target', 
    cat_features=['cat1', 'cat2', 'disc1', 'disc2']
)

# 2) Crea y ejecuta la suite de integridad
result = data_integrity().run(dataset)   # corre todos los checks

# 3) Muestra el informe
result.show()

Accordion(children=(VBox(children=(HTML(value='\n<h1 id="summary_5PVMZTHDHJTIKPZAL3T1PA2HS">Data Integrity Sui…